* body {
    /*Definindo o design geral da calculadora*/
    background-color:azure;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
    font-family: verdana;
}
h1 {
    color: darkblue;
    margin: 50px;
    font-size: 50px;
}
div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: darkblue;
    margin: 50px;
    font-size: 70px;
    
}